body {
  background-color: black;
  text-align: center;
  display: flex;
  /* establish flex container */
  flex-direction: column; /* stack flex items vertically */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  height: 500px;
  gap: 100px;
  margin-top: 150px;
}

h1 {
  color: #dbedf3;
  font-family: sans-serif;
  text-shadow: 3px 0 #da0463;
  font-size: 25px;
}
h2 {
  color: #dbedf3;
  font-family: sans-serif;
  text-shadow: 3px 0 #da0463;
  font-size: 36px;
}
.rotate {
  animation: rotation 120s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
